.wrapper {
  width: 1300px;
  background-color: lightblue;
  padding: 20px;
}
.main-content img {
  width: 300px;
  height: 350px;
}
h1 {
  text-align: center;
}

.info{
  margin: 20px 0 10px 250px;
  width: 600px;
  height: 300px;
  border: 8px solid red;
  padding-left: 20px;
}

.info p {
  display: inline-block;
  margin: 0;
  padding-left: 5px;

}

#title{
  display: inline-block;
}
